<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">SpringBootTest</a>
         </div>
         <ul class="nav navbar-nav">
            <li active><a href="#">Home</a></li>
         </ul>
      </div>
   </nav>
<!-- TURMA -->

   <div class="container" style="margin-top:70px">
      <div class="card">
         <div class="card-body">
            <form method="POST">
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <div class="col-4">
                        <label for="className">Nome da Turma</label>
                        <input type="text" class="form-control" name="teacher" id="className" placeholder="Nome da Turma">
                     </div>
                     <div class="col-4">
                        <label for="teacherName">Nome do Professor</label>
                        <input type="text" class="form-control" name="name" id="teacherName" placeholder="Nome do Professor">
                     </div>
                     <div class="col-4" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                     </div>
                  </div>
               </div>          
            </form>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <table class="table">
            <thead>
               <tr>
                  <th scope="col">Turma</th>
                  <th scope="col">Professor</th>
                  <th scope="col">Número de alunos</th>
               </tr>
            </thead>
            <tbody id="teacherInformation">
            </tbody>
            </table>
         </div>
      </div>
   </div>

   <!-- ESTUDANTE -->
   <div class="container" style="margin-top:70px">
      <div class="card">
         <div class="card-body">
            <form method="POST">
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <div class="col-4">
                        <label for="className">Nome da Turma</label>
                        <input type="text" class="form-control" name="teacher" id="className" placeholder="Nome da Turma">
                     </div>
                     <div class="col-4">
                        <label for="teacherName">Nome do Professor</label>
                        <input type="text" class="form-control" name="name" id="teacherName" placeholder="Nome do Professor">
                     </div>
                     <div class="col-4" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                     </div>
                  </div>
               </div>          
            </form>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <table class="table">
            <thead>
               <tr>
                  <th scope="col">Turma</th>
                  <th scope="col">Professor</th>
                  <th scope="col">Número de alunos</th>
               </tr>
            </thead>
            <tbody id="teacherInformation">
            </tbody>
            </table>
         </div>
      </div>
   </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var teacherList = document.getElementById("teacherInformation");
      $.ajax({
        type: "POST",
        url: "/getClass",
        success: function (data) {
            var info = JSON.parse(JSON.stringify(data));
            for (let i = 0; i < info.length; i++) {
              teacherList.innerHTML += '<tr>'+
                                          '<td>'+info[i].name+'</td>'+
                                          '<td>'+info[i].teacher+'</td>'+
                                          '<td>'+info[i].id+'</td>'+
                                        '</tr>';
            }
        }
    });  
  }); 

  </script>
  </html>