<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">SpringBootTest</a>
         </div>
         <ul class="nav navbar-nav">
            <li active><a href="#">Home</a></li>
         </ul>
      </div>
   </nav>
<!-- TURMA -->
   <div class="container " style="margin-top:70px">
      <div class="card col-md-6">
         <div class="card-body">
            <form method="POST">
               <div class="form-row">
                  <div class="form-group">
                     <div class="col-4">
                        <label for="className">Nome da Turma</label>
                        <input type="text" class="form-control" name="name" id="className" placeholder="Nome da Turma">
                     </div>
                     <div class="col-4">
                        <label for="teacherName">Nome do Professor</label>
                        <input type="text" class="form-control" name="teacher" id="teacherName" placeholder="Nome do Professor">
                     </div>
                     <div class="col-4" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                     </div>
                  </div>
               </div>          
            </form>
            <div class="row">
                  <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Turma</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Número de alunos</th>
                     </tr>
                  </thead>
                  <tbody id="classInformation">
                  </tbody>
                  </table>
               </div>
         </div>
      </div>
   <!-- ESTUDANTE -->
      <div class="card col-md-6">
         <div class="card-body">
            <form method="POST" action="/saveStudent">
               <div class="form-row">
                  <div class="form-group ">
                     <div class="col-4">
                        <label for="className">Turma</label>
                        <input type="text" class="form-control" name="className" id="className" placeholder="Selecione uma Turma">
                     </div>
                     <div class="col-4">
                        <label for="teacherName">Nome do Aluno</label>
                        <input type="text" class="form-control" name="student" id="student" placeholder="Nome do Aluno">
                     </div>
                     <div class="col-4" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                     </div>
                  </div>
               </div>          
            </form>
            <div class="row">
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col">Turma</th>
                           <th scope="col">Professor</th>
                           <th scope="col">Número de alunos</th>
                        </tr>
                     </thead>
                     <tbody id="studentInformation">
                     </tbody>
                  </table>
            </div>
         </div>
      </div>
   </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var classList = document.getElementById("classInformation");
      $.ajax({
        type: "POST",
        url: "/getClass",
        success: function (data) {
            var info = JSON.parse(JSON.stringify(data));
            for (let i = 0; i < info.length; i++) {
               classList.innerHTML += '<tr>'+
                                          '<td>'+info[i].name+'</td>'+
                                          '<td>'+info[i].teacher+'</td>'+
                                          '<td>'+info[i].id+'</td>'+
                                        '</tr>';
            }
        }
    });  

    var studentList = document.getElementById("studentInformation");
      $.ajax({
        type: "POST",
        url: "/getStudent",
        success: function (data) {
            var info = JSON.parse(JSON.stringify(data));
            for (let i = 0; i < info.length; i++) {
               studentList.innerHTML += '<tr>'+
                                          '<td>'+info[i].className+'</td>'+
                                          '<td>'+info[i].student+'</td>'+
                                          '<td>'+info[i].id+'</td>'+
                                        '</tr>';
            }
        }
    });  
  }); 

  </script>
  </html>